.display-1 {
    font-size: 6rem;
}


/*Navbar*/

.navbar-home {
    height: 10vh;
}

/*Showcase*/

#showcase {
    height: 100%;
    padding: 50px 0 20px 0;
    
}

.showcase-row {
    flex-wrap: wrap;
}

.showcase-row-title {
    width: 100%;
    padding-top: 0;
    padding-bottom: 20px;
    text-align: center;
}

/* About */

#about{
    background: #f8f9fa;
    padding: 90px 0;
}

#about h2 {
    padding-bottom: 50px;
}

.about-row {
    display: flex;

}

.about-row-image img {
    height: 500px;
    padding-right: 90px;
}

#about hr{
    width: 60%;
    margin-bottom: 30px;
}

/* Skill */
#skills {
    padding: 90px 0;
}
#skills h2{
    padding-bottom: 50px;
}

.skills-row {
    display: flex;
    padding-bottom: 50px;
}
.skills-row-left,
.skills-row-right {
    width: 50%;
    display: flex;
}

.skills-row-left-image {
    width: 50%;
    text-align: right;
    padding-right: 50px;
}

.skills-row-right-image {
    width: 50%;
    text-align: right;
    padding-right: 50px;
}

.skills-row-left-image img,
.skills-row-right-image img{
    height: 100px;
}

/* Time line */

#timeline {
    padding: 90px 0;
    background: #f8f9fa;
}

#timeline h2 {
    padding-bottom: 20px;
}

.timeline-row {
    display: flex;
    padding-bottom: 40px;
}

.timeline-row-tag {
    width: 50%;
    text-align: right;
    padding-right: 80px;
}

.timeline-row-tag p span {
    background: #c4c4c4;
    color: #fff;
    padding: 12px 30px;
    border-radius: 20px;
}

/* Portafolio */

#portafolio {
    padding: 90px 0;
    background: #f8f9fa;
}

#portafolio h2 {
    padding-bottom: 50px;
}

.portafolio-row {
    display: flex;
}

.portafolio-row-box {
    margin: 15px;
    background: #fff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.portafolio-row-box img {
    width: 100%;
}

.portafolio-row-box p {
    text-align: center;
    padding: 20px;
    margin-top: 0;
}

/* Contacto */

#contact {
    padding: 90px;
    background: #f8f9fa
}

#contact h2 {
    padding: 50px;    
}

.contact-form {
    background: #fff;
    width: 50%;
    margin: 20px auto;
    padding: 70px 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h5 {
    text-align: center;
    padding-bottom: 40%;
    font-weight: 900;
}

.contact-form button {
    width: 100%;
}

/* Footer */

.footer-home {
    height: 10%;     
}

