@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/*Main Styling*/
html,
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.75rem;
}
h4{
    font-size: 1.5rem;
}
h5{
    font-size: 1.25rem;
}
h6{
    font-size: 1rem;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    font-weight: 900;
}

p {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.7em;
}

a {
    text-decoration: none;
}

/* Utility Classes */
.container {
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 10px;
    
    
}

.large {
    font-size: 1.25rem;
}

.display-1 {
    font-size: 6rem;
}

/*Navbar*/

.navbar-home {
    height: 10vh;
}

#navbar {
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#navbar a {
    color: #000;
}

#navbar .logo {
    float: left;
    padding-top: 5px;
}

#navbar .logo img {
    height: 40px;
}

#navbar ul {
    float: right;
    font-size: 14px;
    list-style: none;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li .current {
    text-decoration: underline;
}

/*Showcase*/

#showcase {
    height: 80vh;
    background: #f8f9fa;
    padding: 50px 0;
    
}

#showcase h1 {
    line-height: 1em;
}

#showcase .title-outline {
    color: #fff;
    -webkit-text-stroke: 3px #000;
}

.showcase-row {
    display: flex;
}

.showcase-row-title {
    padding-top: 50px;
}

.showcase-row-image {
    display: block;
    margin: 0 auto;
    
}

.showcase-row-image img {
    height: 500px;
}

/* Footer */

.footer-home {
    height: 10vh;
     
}

#mainfooter{
    background: #f8f9fa;
    text-align: center;
    padding: 30px;
}